<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540811291422-or32dfn2kk1a9v20644k5u73cbcta6vh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540811291422-or32dfn2kk1a9v20644k5u73cbcta6vh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>540811291422-2oc1kloj39f12q7hi6vl04tralcoakpt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqca6mcQInKgB381wI9sYth56ESc7vrYc</string>
	<key>GCM_SENDER_ID</key>
	<string>540811291422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hesapp</string>
	<key>PROJECT_ID</key>
	<string>hesapp-70be5</string>
	<key>STORAGE_BUCKET</key>
	<string>hesapp-70be5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540811291422:ios:83a1565c75aebcd926370f</string>
	<key>DATABASE_URL</key>
	<string>https://hesapp-70be5-default-rtdb.firebaseio.com</string>
</dict>
</plist>